.row
	.span6
		&nbsp;
	.span6
		.well
			%h1 SWITCH makes your lights awesome.
			%h2 Want to know more?
			%form.input-append
				%input{type: "text", placeholder: "me@email.com"}
				%button.btn Sign up
.row
	%h1 Remote control <small>Control your lights from anywhere, inside or outside your home.</small>
	%p Lorem ipsum.
.row
	%h1 Remote control <small>Control your lights from anywhere, inside or outside your home.</small>
	%p Lorem ipsum.
.row
	%h1 Remote control <small>Control your lights from anywhere, inside or outside your home.</small>
	%p Lorem ipsum.
.row
	%h1 Remote control <small>Control your lights from anywhere, inside or outside your home.</small>
	%p Lorem ipsum.
